<?xml version="1.0"?>
<config>
    <modules>
        <Meanbee_Barcodes>
            <version>1.0.0</version>
        </Meanbee_Barcodes>
    </modules>
    <global>
        <blocks>
            <meanbee_barcodes>
                <class>Meanbee_Barcodes_Block</class>
            </meanbee_barcodes>
        </blocks>
        <models>
            <meanbee_barcodes>
                <class>Meanbee_Barcodes_Model</class>
            </meanbee_barcodes>
        </models>
        <helpers>
            <meanbee_barcodes>
                <class>Meanbee_Barcodes_Helper</class>
            </meanbee_barcodes>
        </helpers>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <meanbee_barcodes>
                    <file>meanbee/barcodes.xml</file>
                </meanbee_barcodes>
            </updates>
        </layout>
        <events>
            <core_layout_block_create_after>
                <observers>
                    <meanbee_barcodes_update_sales_grid_columns>
                        <type>singleton</type>
                        <class>meanbee_barcodes/observer</class>
                        <method>updateSalesGridColumns</method>
                    </meanbee_barcodes_update_sales_grid_columns>
                </observers>
            </core_layout_block_create_after>
        </events>
    </adminhtml>
    <default>
        <meanbee_barcodes>
            <annotator>
                <active>1</active>
            </annotator>
            <reader>
                <active>1</active>
            </reader>
        </meanbee_barcodes>
    </default>
</config>
