<?xml version="1.0"?>
<config>
    <modules>
        <Meanbee_BarcodeAnnotator>
            <version>1.0.0</version>
        </Meanbee_BarcodeAnnotator>
    </modules>
    <global>
        <models>
            <meanbee_barcodeannotator>
                <class>Meanbee_BarcodeAnnotator_Model</class>
            </meanbee_barcodeannotator>
        </models>
        <helpers>
            <meanbee_barcodeannotator>
                <class>Meanbee_BarcodeAnnotator_Helper</class>
            </meanbee_barcodeannotator>
        </helpers>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <meanbee_barcodeannotator>
                    <file>meanbee/barcodeannotator.xml</file>
                </meanbee_barcodeannotator>
            </updates>
        </layout>
        <events>
            <core_layout_block_create_after>
                <observers>
                    <meanbee_barcodeannotator_update_sales_grid_columns>
                        <type>singleton</type>
                        <class>meanbee_barcodeannotator/observer</class>
                        <method>updateSalesGridColumns</method>
                    </meanbee_barcodeannotator_update_sales_grid_columns>
                </observers>
            </core_layout_block_create_after>
        </events>
    </adminhtml>
    <default>
        <meanbee_barcodeannotator>
            <general>
                <active>1</active>
            </general>
        </meanbee_barcodeannotator>
    </default>
</config>
